# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/

# Virtual env
.venv/
venv/
ENV/
env/
.env

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Local temp files
*.log
*.tmp

# If SQLite creates journaling files locally
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
